* {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

/********** Container avec width 100% *************/
.container-fluid {
    margin: 0 auto;
    max-width: 100%;
    padding: 0px !important;
}

/********** Nav *************/
.container-nav {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);
}

.nav-menu-text a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-right: 25px;
}

.nav-menu-text a:hover {
    text-decoration: none;
    color: #5355FA;
    font-weight: 900;
}

.nav-menu-text a:active {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

/********** Accueil *************/
.head-accueil {
    height: 100vh;
    min-height: 500px;
    background-image: url('fonts/homeimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-home {
    color: white;
}

/********** H1 *************/
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900 !important;
    font-size: 5.5rem !important;
    color: #333333;
}

.title-page {
    margin-top: 50px;
}

.second-title-page {
    font-weight: 400 !important;
}

/********** H2 *************/
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900 !important;
    font-size: 4rem !important;
    color: #333333;
}

/********** H3 *************/
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    font-size: 3rem !important;
    color: #333333;
}

/********** H4 *************/
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    font-size: 2.5rem !important;
    color: #333333;
}

/********** Buttons *************/
.button {
    background-color: #5355FA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: white;
}

.button span:after {
    content: '\279C';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 35px;
    color: white;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
    color: white;
}

.button:hover:focus:active span {
    color: white;
}

.button-home {
    margin-top: 30px;
}

.button-event {
    margin-bottom: 40px;
}

.button-like {
    padding: 15px 42px;
    text-align: center;
    border-radius: 40px;
    border: 4px solid #5355FA;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: #5355FA;
}

.button-like:hover {
    background-color: #5355FA;
    color: white;
    text-decoration: none;
}

.button-catalogue {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important;
    font-size: 2rem !important;
    color: white;
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.button-catalogue:hover {
    background-color: black;
    opacity: 0.5;
}

.button-add {
    margin-top: 30px;
}

.button-add span:after {
    content: '\002B' !important;
}

.button-wish {
    border: none;
    background-color: transparent;
}

/********** Filters *************/
.dropbtn {
    margin-top: 20px;
    background-color: transparent;
    color: #333333;
    cursor: pointer;
    border: 0.5px solid #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 20px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #333333;
    color: white;
}

.dropbtn-options {
    border: none;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

/********** Catalogue *************/
#catalogue {
    margin-top: 30px;
}

.card-bike {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 30px !important;
}

.card-bike:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
} */

.catalogue-product-link:hover {
    text-decoration: none;
}

/********** Breadcrumb *************/
.button-breadcrumb {
    border-style: none;
    background-color: transparent;
}

.breadcrumb {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
    margin-top: 50px;
}

.breadcrumb-catalogue {
    color: black;
    font-weight: 500;
}

.breadcrumb-catalogue:hover {
    color: black;
}

/********** Cards *************/
.card-text {
    font-size: 2rem;
}

.card-deck {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.card-footer {
    margin: 0;
}

/********** Table *************/
.table-parcours {
    font-size: 2rem;
}

/********** Footer *************/
.linkFooter:hover {
    color: white;
    text-decoration: underline;
}

/********** Product page *************/
.container-catalogue {
    margin-top: 50px;
}

.product-title {
    margin-top: 0px;
}

.product-descr-text {
    margin-bottom: 50px;
}

/********** Création d'un compte *************/
.container-creation {
    margin-bottom: 30px;
}

/********** Ajouter un vélo *************/
.add-bike-panel {
    border-color: #333333;
    border: 1px solid;
}

.add-bike-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white !important;
    background-image: none !important;
    background-color: #5355FA !important;
    border: none;
}

.add-bike-input {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.3rem !important;
    border-radius: 10px !important;
    padding: 10px !important;
}

.add-bike-input:focus {
    border-color: #5355FA !important;
    font-weight: 700;
}

.add-bike-button {
    padding: 15px 32px;
    background-color: #5355FA;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-bike-panel-csv {
    padding: 20px;
}

.add-bike-text-csv {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}