* {
    font-family: 'Roboto', sans-serif;
}

/********** Container avec width 100% *************/
.container-fluid {
    margin: 0 auto;
    max-width: 100%;
    padding: 0px !important;
}

/********** H1 *************/
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900 !important;
    font-size: 5.5rem !important;
}

/********** H2 *************/
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900 !important;
    font-size: 4rem !important;
}

/********** H3 *************/
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    font-size: 3rem !important;
}

/********** H4 *************/
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    font-size: 2.5rem !important;
}

/********** Buttons *************/
.button {
    background-color: #5355FA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: white;
}

.button span:after {
    content: '\279C';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 35px;
    color: white;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
    color: white;
}

.button:hover:focus:active span {
    color: white;
}

.button-home {
    margin-top: 30px;
}

.button-event {
    margin-bottom: 40px;
}

.button-like {
    padding: 15px 42px;
    text-align: center;
    border-radius: 40px;
    border : 4px solid #5355FA;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color : #5355FA;
}

.button-like:hover {
    background-color: #5355FA;
    color : white;
    text-decoration: none;
}

/********** Breadcrumb *************/
.button-breadcrumb {
    border-style: none;
    background-color: #F5F5F5;
}

.breadcrumb {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.breadcrumb-catalogue {
    color : black;
    font-weight: 500;
}
.breadcrumb-catalogue:hover {
    color : black;
}

/********** Cards *************/
.card-text {
    font-size: 2rem;
}

.card-deck {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.card-footer {
    margin: 0;
}

/********** Table *************/
.table-parcours {
    font-size: 2rem;
}

/********** Product page *************/
.container-catalogue {
    margin-top: 50px;
}

.product-title {
    margin-top: 0px;
}
.product-descr-text {
    margin-bottom: 50px;
}