<div>
  <label for="showHistory">Voir l'historique </label>
  <input type="checkbox" name="history" id="showHistory">

    <label for="showHistory">Voir l'historique </label>
  <input type="checkbox" name="history" id="showHistory">
</div>